.pagecontainer {
    background: var(--bg-color);
    border-radius: 0px 40px 40px 0;
    height: 85vh;
    overflow: auto;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagecontainer::-webkit-scrollbar {
    display: none;
}

.pagecontainer h1,
h3,
p {
    color: var(--white-color);
}

.pagecontainer .role {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 70px;
}

.pagecontainer .count h1 {
    font-size: 4.6rem;
    color: var(--green-color);

}


.pagecontainer .count p {
    color: var(--white-color);
    font-weight: 600;
}

.pagecontainer .namediv .mainname1 {
    color: var(--green-color);
    /* opacity: 0; */



}

.pagecontainer .namediv .insidenamediv {
    transform: translateY(10px);
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
    border-right:2px solid var(--green-color);
    width:0;
    animation: typing2 3s steps(14) infinite alternate-reverse, blink 1s step-end infinite;
}

.namediv {
    display: inline-block;
    width: 18ch;
}

@keyframes typing2 {
    from {
        width: 0;
    }

    to {
        width: 18ch;
    }
}

@keyframes blink {
    from {
        border-right: 1px rgb(255, 255, 255) solid;
    }

    to {
        border-right: none;
    }
}




.pagecontainer .course {
    background-color: var(--green-color);
    font-size: 3rem;
    padding: 0 20px;
    border-radius: 40px;
    color: black;
}





@media screen and (max-width:700px) {

    .pagecontainer {
        background: var(--bg-color);
        border-radius: 0;
        height: 85vh;
        overflow: auto;
    }

    .pagecontainer .course {
        background-color: var(--green-color);
        font-size: 2rem;
        padding: 0 20px;
        border-radius: 40px;
        color: black;
    }

    .pagecontainer .role {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 37px;
    }

    .pagecontainer .count h1 {
        font-size: 2.7rem;
    }

    .pagecontainer .count p {
        color: rgb(202, 202, 202);
        font-weight: 500;
        font-size: .9rem;
    }



}