header {
    width: fit-content;
    padding: 20px;
}

header .nameandrole {
    display: none;
}

header .nameandrole h5 {
    color: var(--white-color);
}

header .nameandrole h6 {
    color: var(--green-color);
}

header .fa-bars {
    display: none;
}

header .two {
    background: var(--bg-color);
    padding: 25px;
    border-radius: 50%;
}

header .navs {
    border-radius: 40px;
    background: var(--bg-color);
    padding: 10px;
}

a {
    text-decoration: none;
}

header .navs .box {
    position: relative;
    padding: 15px;
    border-radius: 50%;
    background-color: var(--skil-bg);
    cursor: pointer;
}

header .navs i,
path {
    color: var(--white-color);
}

header .navs .box .notify {
    position: absolute;
    left: 90%;
    top: 30%;
    opacity: 0;
    background-color: var(--green-color);
    padding: 2px 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s ease;
}

header .navs .box:hover i {
    color: var(--green-color);
}

header .navs .box:hover path {
    color: var(--green-color);
}

header .navs .box:hover .notify {
    opacity: 1;
    transform: translateX(10px);
}

header .navs .box .notify span {
    font-size: .8rem;
    font-weight: 700;
    color: var(--white-color);

}

.filter {
    position: relative;
}

.filter:hover .colors {
    opacity: 1;
    transform: translateX(10px);
}


.colors {
    position: absolute;
    left: 90%;
    top: 20%;
    opacity: 0;
    background: var(--bg-color2);
    padding: 10px 10px;
    border-radius: 20px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    transition: .2s ease;
}

.colors .color {
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.colors .yellow {
    background-color: rgb(255, 208, 0);
}

.colors .blue {
    background-color: rgb(0, 128, 255);
}

.colors .green {
    background-color: rgb(126, 255, 171);
}


@media screen and (max-width:800px) {

    :root {
        --bg-color: #0C0C0C;
    }


    .maincontainer {
        position: relative;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        background: url(/src/components/images/bg/bg.jpg) no-repeat;
        background-position: center;
        background-size: cover;
    }

    header .nameandrole {
        display: block;
    }

    .customizations {
        display: flex;
    }



    header {
        width: 100%;
        background: var(--bg-color2);
        position: fixed;
        top: 0;
        z-index: 3000;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 7px 20px;
    }

    header .fa-bars {
        position: absolute;
        display: block;
        right: 10px;
        font-size: 1rem;
        color: var(--white-color);


    }

    header .navs {
        transition: .3s ease;
        position: absolute;
        width: 100%;
        left: -200%;
        top: 70px;
    }

    header .navscome {
        transition: .4s ease;
        position: absolute;
        width: 100%;
        left: 0;
        top: 70px;
        border-radius: 0;
    }

    header .two {
        background: none;
        padding: 5px;
        border-radius: 50%;
    }


    header .navs .box {
        position: static;
        display: flex;
        gap: 20px;
        padding: 10px;
        border-radius: 0;
        cursor: pointer;
    }

    header .navs .box .notify {
        position: static;
        opacity: 1;
        background-color: rgba(0, 0, 0, 0);
        padding: 0;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .2s ease;
    }

    header .navs .box .notify span {
        font-size: 1rem;
        font-weight: 700;
        color: var(--white-color);
    }

    header .navs .box:hover .notify {
        opacity: 1;
        transform: none;
    }

    .colors {
        position: absolute;
        left: -100%;
        top: 125%;
        opacity: 0;
        background: var(--bg-color2);
        padding: 10px 10px;
        border-radius: 20px;
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: center;
        transition: .2s ease;
    }

}