.maincontainer {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../images/bg/bg.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  
}



.maincontainer video {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.secondarycontainer {
  display: grid;
  grid-template-columns: 80px 360px auto;
  align-items: center;
  height: 90%;
  gap: 10px;
  animation: onload 1s ease-in;
}

@keyframes onload {

  from {
    
    opacity: 0;
  }

  to {
    
    opacity: 1;
  }
}

.holdcontainer {
  height: 85vh;
  overflow: hidden;
}


@media screen and (max-width:800px) {

  @keyframes onload {

    from {
      
      opacity: 0;
    }

    to {
      
      opacity: 1;
    }
  }


  .secondarycontainer {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    height: 90%;
    gap: 0px;

  }

  .maincontainer {
    position: relative;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(/src/components/images/bg/bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
  }

  header .nameandrole {
    display: block;
  }

  .customizations {
    display: flex;
  }

  header .fa-xmark {
    display: block;
  }

  header {
    width: 100%;
    background-color: red;
    position: relative;
  }

  header .navs {
    position: absolute;
    width: 100%;
  }



}