.profilecontainer {
    border-radius: 40px 0 40px 40px;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-color);

}

.profilecontainer .two .image {
    border-radius: 40px 0 40px 40px;
    background-color: #cfced3;
    height: 40vh;
}

.profilecontainer .wh {
    padding: 40px;
}

.profilecontainer .two .image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.profilecontainer .two2 {
    border-top: var(--border-graycolor) solid 1px;
    display: flex;

}


.profilecontainer .two .c-2 {
    width: 50%;
}

.profilecontainer .two .c-2 h6 {
    color: var(--white-color);
}

.profilecontainer .two .fi {
    border-right: var(--border-graycolor) solid 1px;
}

.profilecontainer .informations {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profilecontainer .informations .apps {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.profilecontainer .informations .apps .app {
    border: var(--border-graycolor) solid 1px;
    border-radius: 40%;
    padding: 10px;
    cursor: pointer;
    transition: .3s ease;

}

.profilecontainer .informations .apps .app:hover {
    transform: translateY(-10px);
}

.profilecontainer .informations .name {
    font-weight: 700;
    line-height: 80px;
    font-size: 1.4rem;
}



.profilecontainer .informations .rolee {
    font-weight: 500;
    color: var(--green-color);
    width: fit-content;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(18), blink 1s step-end;

}

@keyframes typing {
    from {
        width: 0px;
    }

    to {
        width: 12ch;
    }
}

@keyframes blink {
    from {
        border-right: 1px rgb(255, 255, 255) solid;
    }

    to {
        border-right: none;
    }
}

.profilecontainer .informations .apps .app:hover i {
    color: var(--green-color);

}

.profilecontainer .informations .apps .app i {
    color: var(--white-color);
    font-size: 1rem;
}



@media screen and (max-width:800px) {

    .profilecontainer {
        border-radius: 0;
        justify-content: space-between;
        align-items: center;
        background: var(--bg-color);
    }




}