.pagecontainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.pagecontainer .skillcontainer {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.pagecontainer .header h2 {
    color: var(--white-color);
    font-size: 1.5rem;
}

.pagecontainer .header .first {
    border: 1.5px solid var(--border-graycolor);
    width: fit-content;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px 20px;
}

.pagecontainer .header p {
    color: var(--white-color);
    font-size: 1rem;
    font-weight: 400;
}

.pagecontainer .skillcontainer .outsidedrop .slidecontent {
    transition: .4s ease;
    border: 1px rgba(255, 255, 255, 0.152) solid;
    border-radius: 20px;
    padding: 0 20px;
    position: absolute;
    width: 100%;
    transform: translateY(-40px);
    z-index: 1;
}

.pagecontainer .skillcontainer .outsidedrop:hover .slidecontent {
    transform: translateY(-15px);
}

.pagecontainer .skillcontainer .outsidedrop h4 {
    font-size: .7rem;
    color: var(--white-color);
}

.pagecontainer .skillcontainer .outsidedrop {
    position: relative;
    /* animation: googly 2s ease-in-out infinite alternate-reverse; */


}



.pagecontainer .skillcontainer .drop {


    position: relative;
    /* border: 1px rgba(255, 255, 255, 0.152) solid; */
    border-radius: 20px;

    background-color: var(--skil-bg);
    z-index: 2;
    overflow: hidden;
    transition: .4s ease;
    padding: 1px;


}

.pagecontainer .skillcontainer .drop .d {
    position: relative;
    background: var(--skil-bg);
    z-index: 1;
    padding: 30px;
    border-radius: 20px;
}

.pagecontainer .skillcontainer .drop::after {
    content: "";
    width: 200%;
    height: 200%;
    position: absolute;
    left: -50%;
    top: -50%;
    background: conic-gradient(var(--green-color), transparent, transparent, transparent);
    animation: border 2s linear infinite;
}

@keyframes border {
    from {
        transform: rotate(-360deg);
    }
}

.pagecontainer .skillcontainer .drop::before {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 20px;
    transform: scale(0);
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    transition: .7s ease;
    z-index: 2;
}


.pagecontainer .skillcontainer .drop:hover::before {
    transform: scale(1);
    background-color: rgba(255, 255, 255, 0);
}

.pagecontainer .skillcontainer .drop:hover {
    transform: translateY(-20px);
}

.pagecontainer .skillcontainer .drop .skill {
    border: white solid 1px;
    width: 40px;
    height: 40px;
    /* border-radius: 50%; */
    overflow: hidden;
}

.pagecontainer .skillcontainer .drop .skill img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media screen and (max-width:800px) {

    .pagecontainer .skillcontainer {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }
}