* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root{
  --bg-color:linear-gradient(to right ,#1B1B1B,rgb(14, 14, 14));
  --green-color:#6bc45f;
  --white-color:white;
  --border-graycolor:#353535;
  --skil-bg:#1E1E1E;
}

