@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Iceland&family=Zen+Dots&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,h2,h3,h4 {
  font-family: "Audiowide", sans-serif;
}
h5{
   font-family: "Zen Dots", sans-serif;
}
p{
    font-family: "Iceland", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
}


:root {
  --bg-color2: linear-gradient(to right, #1B1B1B, rgb(14, 14, 14));
  --bg-color: linear-gradient(to right, #1B1B1B, rgba(0, 0, 0, 0.39));
  --green-color: #79cc6f;
  --white-color: #ffff;
  --border-graycolor: rgba(255, 255, 255, .12);
  --skil-bg: #1E1E1E;
  --gray-color: #323232;
  --black-color: rgb(23, 21, 21);
}

.lightmode {
  --bg-color2: linear-gradient(to right, #ffffff, rgb(255, 255, 255));
  --bg-color: linear-gradient(to right, #ffffff, rgb(255, 255, 255));
  --green-color: #6bc45f;
  --white-color: rgb(0, 0, 0);
  --border-graycolor: rgba(190, 190, 190, 0.477);
  --skil-bg: #ebebeb;
  --gray-color: #323232;
  --black-color: rgb(230, 230, 230);
}

.maincontainer {
  position: relative;
}

.mousefollower {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: var(--green-color);
  border-radius: 50%;
  z-index: 10000;

}

.mousemediumfollower {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--green-color);
  border-radius: 50%;
  z-index: 10000;

}

.mousesmallfollower {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--green-color);
  border-radius: 50%;
  z-index: 10000;

}

@media screen and (max-width:700px) {
  .mousefollower {
    display: none;

  }

  .mousemediumfollower {
    display: none;

  }

  .mousesmallfollower {
    display: none;

  }
}