@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Iceland&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Zen+Dots&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Iceland", sans-serif;
  font-family: "Poppins", sans-serif;
    font-family: "Exo 2", sans-serif;

}

h1,
h2,
h3,
h4 {
  font-family: "Audiowide", sans-serif;
  font-family: "Poppins", sans-serif;
    font-family: "Exo 2", sans-serif;
}

h5 {
  font-family: "Zen Dots", sans-serif;
  font-family: "Poppins", sans-serif;

}

h6 {
  font-size: .9rem;
}

p {
  font-family: "Iceland", sans-serif;
  /* font-family: "Poppins", sans-serif; */
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2rem;
  font-size: .9rem;
  font-weight: 400;
}


:root {
  --bg-color2: linear-gradient(to right, #1B1B1B, rgb(14, 14, 14));
  --bg-color: linear-gradient(to right, #1B1B1B, rgba(0, 0, 0, 0.39));
  --green-color: #79cc6f;
  --white-color: #ffff;
  --border-graycolor: rgba(255, 255, 255, .12);
  --skil-bg: #1E1E1E;
  --gray-color: #323232;
  --black-color: rgb(0, 0, 0);
}

.lightmode {
  --bg-color2: linear-gradient(to right, #ffffff, rgb(255, 255, 255));
  --bg-color: linear-gradient(to right, #ffffff, rgb(255, 255, 255));
  --green-color: #6bc45f;
  --white-color: rgb(0, 0, 0);
  --border-graycolor: rgba(190, 190, 190, 0.477);
  --skil-bg: #ebebeb;
  --gray-color: #323232;
  --black-color: ;
}

.maincontainer {
  position: relative;
}

.mousefollower {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: var(--green-color);
  border-radius: 50%;
  z-index: 10000;

}

.mousemediumfollower {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--green-color);
  border-radius: 50%;
  z-index: 10000;

}

.mousesmallfollower {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--green-color);
  border-radius: 50%;
  z-index: 10000;

}

@media screen and (max-width:700px) {
  .mousefollower {
    display: none;

  }

  .mousemediumfollower {
    display: none;

  }

  .mousesmallfollower {
    display: none;

  }
}